.cartListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    button{
        width: 90px;
    }
}

.cartList{
    display: flex;
    flex-direction: column;
    width: 1000px;
    gap: 20px;
    box-shadow: rgba(4, 82, 94, 0.16) 0px 3px 6px, rgba(1, 55, 72, 0.23) 0px 3px 6px;

    h2{
        text-align: center;
    }
    
    img{
        width: 50px;;
    }
    .trash{
        cursor:pointer
    }
}


.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartTotal{
    text-align: center;
}

.cartTitles, .cartItem{
    display: flex;
    justify-content: space-around;
    td{
        width: 30px;
        text-align: center;
    }
}